@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: sans-serif;
  }

img{
  width: 100%;
}

body{
    background-image: url(img/scrolling-background.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    
  }

  body::-webkit-scrollbar{
    width: 5px;
    background: rgb(50,50,50);
  }

body::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 3px;
  }

body::-webkit-scrollbar-track{
    display: none;
  }

  /* Header Bar */
#header{
    position: fixed;
    background: rgba(256, 256, 256, 0.4);
    backdrop-filter: blur(3px);
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    z-index: 1000;
    box-shadow: rgb(50,50,50) 0 0 15px;
    height: 4em;
  }
  
#main-header{
    padding-left: 2vw;
    width: 100px;
    min-width: 50px;
  }

  /* Navegation Section */
#nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    height: 100%;
  }

#nav-links a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(49, 49, 49);
    font-size: 18px;
    font-weight: 400;
    
    float: left;
    padding: 0.3em 2em;
  }

#nav-links a:hover{
  background: rgba(49, 49, 49, 0.111);
  transition: linear 150ms;
  box-shadow: rgb(49, 49, 49) 0 0 5px;
}
  
  /* Welcome Section */
#welcome-section{
    height: 100vh;
    background-image: url(img/welcome-background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 20px;
  }
  
#welcome-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
    
    border: 2px solid #fff;
    border-radius: 1em;
    padding: 1.5em;
    color: #fff;
  }

#welcome-card h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 45px;
  }
#welcome-card p{
    font-family: sans-serif;
  }

  /* About Me Section */
#about{
    height: max-content;
    background: #fff;
    padding: 2em;
    box-shadow: rgb(0, 0, 0) 0 0 30px;
  }

#about-in-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

.text-about{
    height: min-content;
    align-self: baseline;
    text-align: justify;
  }

.text-about p{
    line-height: 1.5em;
    font-size: 20px;
    text-justify:newspaper;
  }
.text-about #important{
  font-weight: normal;
}

#about-img figure{
    margin: 0 auto;
    width: 50%;
    min-width: 150px;
  }

#about-img img{
    border-radius: 100%;
    box-shadow: rgb(49, 49, 49) 0 0 10px;
  }

.title{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    width: max-content;
    margin-bottom: 0.5em;
}

  /* Projects Section */
#projects{
  max-height: min-content;
  padding: 2em;
  }

#projects .title{
  color: #fff;
  margin-bottom: 1em;
}

#project-in-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.project-tile{
  display: flex;
  flex-direction: column-reverse;

  width: 70%;
  padding: 0.5em;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 0 0 30px;
}

.project-title{
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  color: #313131;
}
.project-tile h3{
  text-align: center;
}

.project-tile h3:hover{
  text-decoration: underline #313131;
}

.project-description{
  margin: 0.5em;

  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  text-align: center;
}

.project-image img{
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.project-image img:hover{
  box-shadow: #313131 0 0 5px;
}

#see-more{
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 300px;
  
  text-align: center;
  padding: 0.2em 3em;

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: rgb(0, 0, 0) 0 0 10px;

  color: #fff;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

#see-more:hover{
  transition: linear 100ms;
  box-shadow: #000 0 0 10px;
  padding: 0.2em 3.5em;
  text-decoration: underline;
}

  /* Contact Section */
#contact{
    height: max-content;
    background: #fff;
    padding: 2em;
    box-shadow: rgb(0, 0, 0) 0 0 30px;
  }

#social-cards{
  margin: 1em auto 1em;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 24px;
}

#github{
  background: rgb(122, 48, 140);
}

#profile-link{
  background: #090922;
}

#instagram{
  background: #fb0;
}

#gmail{
  background: #c33;

}

.social-i-card{
  padding-top: 1em;
  height: 10vh;
  width: 100%;
  text-align: center;
  color: #fff;
}
.social-i-card:hover{
  position: relative;
  width: 110%;
  height: 110%;
  border-radius: 5px;
  transition: linear 150ms;
}

  /* Footer */
footer{
  color: #fff;
  font-family: 'Monserrat', sans-serif;

  height: 10vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  #navbar{
    display: none;
  }

  #main-header{
    margin-left: 2em;
  }

  #about-in-container{
    grid-template-columns: 1fr;
  }


  #about-img{
    width: 100px;
    margin: 1em auto;
  }

  #project-in-container{
    grid-template-columns: 1fr;
    gap: 3em;
  }

  #social-cards{
    width: 90%;
  }

  footer{
    height: 5vh;
  }
}

@media (max-width: 425px){
  #header{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #welcome-card h1{
    font-size: 38px;
  }

  #welcome-card p{
    font-size: 14px;
    font-weight: 200;

    margin-top: 1em;
  }

  .project-tile{
    width: 100%;
  }

  #social-cards{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .social-i-card{
    border-radius: 5px;
  }
}

@media (max-width: 320px){
  #see-more{
    min-width: 80vw;
  }

  #social-cards{
    width: 90%;
  }
}