*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
  }

  body{
      background-image: url();
  }

  #header{
    position: fixed;
  }
  
  #main-header{
    height: 4em;
  }

  #navbar{
    background: rgba(20, 20, 20, 0.3);
    height: 2em;
    width: 100vw;
  }
  
  #navbar li{
    display: inline;
  }
  
  #welcome-section{
    height: 100vh;
    min-height: 20px;
  }
  
  #welcome-card{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
    
    border: 1px solid;
    border-radius: 1em;
    padding: 1.5em;
  }
  
  ul{
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -100%);
    max-width: 50%;
    text-align: center;
  }